{% extends "base.html" %}

{% block title %}
Add Product
{% endblock %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{%block content%}

{%if user.is_authenticated %}

    <div  class="admin form-group">
        <h2> Add New Product</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Product</button>
        </form>    
    </div>
{% else %}

<h1> Error 404. Page Not Found </h1>

{% endif  %}
{% endblock %}
