{% extends "base.html" %}

{% block title%} Cyberware Store {% endblock %}

<!--Page specific CSS -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block content %}

    <h1>General Information</h1>
    <p>Test Paragraph</p>

    <!-- Featured Random Items Carousel -->
    <div id="featuredItems" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators -->
            <div id="indicators" class="carousel slide">
                <div class="carousel-indicators ">
                  <button type="button" data-bs-target="#indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#indicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#indicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>

            <!-- Featured Items -->
            <div class="carousel-inner">

                <div class="carousel-item active" id="item1" data-bs-interval="2500" >
                    <img src="{%static 'images/placeholder_item.png'%}" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h3>Item 1</h3>
                    </div>
                </div>
                <div class="carousel-item"  id="item2" data-bs-interval="2500">
                    <img src="{%static 'images/placeholder_item.png'%}" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h3>Item 2</h3>
                    </div>
                </div>
                <div class="carousel-item"  id="item3" data-bs-interval="2500">
                    <img src="{%static 'images/placeholder_item.png'%}" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h3>Item 3</h3>
                    </div>
                </div>
                <div class="carousel-item" id="item4" data-bs-interval="2500">
                    <img src="{%static 'images/placeholder_item.png'%}" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h3>Item 4</h3>
                    </div>
                </div>
                <div class="carousel-item"  id="item5" data-bs-interval="2500">
                    <img src="{%static 'images/placeholder_item.png'%}" class="d-block w-100" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h3>Item 5</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Quick Search Links for Products -->
    <div class="quicklinks mt-5">

        <button class="btn btn-lg px-4 mx-2">
            <i class="bi bi-search">Medication</i>
        </button>

        <button class="btn btn-lg px-4 mx-2">
            <i class="bi bi-search">Networking</i>   
        </button>

        <button class="btn btn-lg px-4 mx-2">
            <i class="bi bi-search"></i>
        </button>

    </div>

    <h3>Test Header</h3>
    <p>Test Paragraph</p>

{% endblock %}
