<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css'%}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        
        {% block extra_css %}
        {% endblock %}

        <title>{% block title%}Cyberware Store{% endblock %}</title>
    </head>
    <body>
        <div class="navigationbar position-relative">
            <!-- Logo -->
            <div class="logo bg-danger position-absolute top-50 start-0 translate-middle-y">
                <img src="..\static\images\placeholder_general.png" width="90" height="90" alt="logo">
            </div>
        
            <!-- Navigation Menu Buttons -->
            <nav class="navbar navbar-expand-lg d-flex w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'home:index' %}">
                                <button type="button" class="btn btn-primary btn-lg">Home</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'products:index' %}">                    
                                <button type="button" class="btn btn-primary btn-lg">Products</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'forum:index' %}">
                                <button type="button" class="btn btn-primary btn-lg">Forum</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href="{% url 'contact:index' %}">
                                <button type="button" class="btn btn-primary btn-lg">Contact</button>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <!-- User Login -->
                            <a href="{% url 'members:login'%}">
                                <button type="button" class="btn btn-sm btn-login">Login <i class="bi bi-person-circle"></i></button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <!-- Shopping Cart -->
                            <a href="{% url 'products:cart' %}">
                                <button type="button" class="btn btn-cart pt-2">
                                    Cart <i class="bi bi-cart"></i>
                                </button>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">{{total}}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Search Bar -->
                    <form class="d-flex search-bar">
                        <input class="form-control me-2" type="search" placeholder="Quick Search" aria-label="Search">
                        <button type="button" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </nav>
        </div>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>


        <footer>
            Contact information
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>

