<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..\static\css\base.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        
        {% block extra_css %}
        {% endblock %}

        <title>{% block title%}Cyberware Store{% endblock %}</title>
    </head>
    <body>

        <div class="navigationbar position-relative">
            <div class="logo bg-danger position-absolute top-25 start-0">
                <img src="..\static\images\placeholder_general.png" width="70" height="70" alt="logo">
            </div>

            <!--Navigation Menu Buttons-->
            <nav class="navbar navbar-light d-inline-block align-top ">
                <a class="navbar-brand" href="{% url 'home:index' %}">
                    <button type="button" class="btn btn-primary btn-lg">Home</button>
                </a>
                <a class="navbar-brand" href="{% url 'products:index' %}">                    
                    <button type="button" class="btn btn-primary btn-lg">Products</button>
                </a>
                <a class="navbar-brand" href="{% url 'forum:index' %}">
                    <button type="button" class="btn btn-primary btn-lg">Forum</button>
                </a>
                <a class="navbar-brand" href="{% url 'contact:index' %}">
                    <button type="button" class="btn btn-primary btn-lg">Contact</button>
                </a>
            </nav>

            <!--User Login-->
            <div class="logo position-absolute top-0 end-0">
                <button type="button" class="btn btn-secondary btn-sm">Login <i class="bi bi-person-circle"></i></button>
            </div>

            <!--Shopping Cart-->
            <div class="logo position-absolute bottom-0 end-0">
                <button type="button" class="btn btn-secondary ">Cart <i class="bi bi-cart"></i></button>
            </div>
            
        </div>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>

        <div class="grid-item footer">
            Footer
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>

