body{
    background-color: burlywood;    
}

#mainGrid {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 2.5vw;
    font-size: 1vw;
    margin-right:4vmax ;
}

.itemSort ,#sortMain {
    border: 1px solid #c6579b; 
    background-color: rgb(162, 255, 112,0.5);
    height: 70vh;
    width: 15vw;

    overflow : auto ;
}

.products {
    border: 1px solid #a2ff70; 
    padding: 5px; 

    background-color: rgb(100, 149, 237,0.5);
    width: 65vw;
}

.grid-container {
    display: grid;
}

.grid-item {
    border: 1px solid #e77a7a;
    border-radius: 25px; 

    background-color: #707eff;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

    overflow : hidden;

    align-items: center;
    text-align: bottom;

    width : 20vw ;
    height : 21vh ;
    padding: 1vh;
}

#productImage{
    width : 35%;
    height : 35% ;
}

#itemLayout{
    text-align: center;
    display : grid ;
    grid-template-columns: auto auto auto;
    gap: 1vw;
}

#images{
    width : 45% ;
    height : 45% ;
}
#productDescription{
    font-size: 85%;
    
}