/* General Body Styling */
body {
    background-color: #0f0f0f; 
    color: #0ff;
    font-family: 'Orbitron', sans-serif; 
    overflow: scroll;
}

/* Grid Container for Main Content */
#mainGrid {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 1em; 
    padding: 1em;
    margin: 0 auto;
    max-width: 90vw; 
}

/* Item Sort Panel Styling */
.itemSort {
    border: 1px solid #c6579b; 
    background-color: rgba(162, 255, 112, 0.5); 
    padding: 1em; 
    color: #0ff; 
    height: auto; 
    width: 100%; 
}

/* Form Styling */
.sortMain {
    border: 1px solid #c6579b;
    background-color: rgba(162, 255, 112, 0.5);
    padding: 1em;
    color: #0ff;
}

/* Sort Header Styling */
.sortHeader {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #0ff;
}

/* Price Range Slider Styling */
.slider {
    width: 85%; 
}

/* Products Grid Styling */
.productsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5em; 
    padding: 1em;
    max-width: 175vw; 
    margin: 0 auto;
}

/* Product Item Styling */
.productItem {
    border: 1px solid #e77a7a;
    border-radius: 25px;
    background-color: #707eff;
    text-align: center;
    padding: 1.5em;
    color: #0ff;
    box-shadow: 0 0 10px #0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    min-height: 250px; 
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
}

/* Product Description Styling */
#productDescription {
    margin-bottom: 1em; 
    padding-top: 1em;
    z-index: 1;
    font-size: 1em;
}

/* Add to Cart Button Styling */
.btn-success {
    width: 80%;
    height: auto; 
    font-size: 85%; 
    justify-content: center;
    color: #0ff; 
    background-color: #1f1f1f; 
    border: 2px solid #0ff; 
    text-shadow: 0 0 5px #0ff; 
    padding: 0.5em; 
    margin: 0.5em 0; 
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s; 
    border-radius: 5px; 
    position: absolute; 
    bottom: 1em; 
    left: 1em;
    z-index: 2; 
}

/* Hover Effects for Add to Cart Button */
.btn-success:hover {
    background-color: #0ff; 
    color: #1f1f1f; 
    transform: scale(1.05); 
    box-shadow: 0 0 10px #0ff; 
}

/* Product Image Styling */
#productImage {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 1em; 
}

/* Item Layout Styling */
#itemLayout {
    display: grid;
    width:100%;
    height:115%;
    grid-template-columns: repeat(4, 1fr); 
    gap: 3em; 
    padding: 3em; 
}

/* Images Styling */
#images {
    width: 85%; 
    height: auto; 
}

@media (max-width: 1200px) {
    .productsGrid, #itemLayout {
        grid-template-columns: repeat(3, 1fr); 
        gap: 1.5em; 
    }
}

@media (max-width: 768px) {
    .productsGrid, #itemLayout {
        grid-template-columns: repeat(1, 1fr); 
        gap: 1em; 
    }
}

@media (max-width: 480px) {
    .productsGrid, #itemLayout {
        grid-template-columns: 1fr; 
        gap: 0.5em; 
    }
}
