#main {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    gap: 15vw;
}

.itemSort {
    border: 1px solid #c6579b; 
    padding: 20px;
    background-color: rgb(162, 255, 112,0.5);
}

.products {
    border: 1px solid #a2ff70; 
    padding: 20px; 
    font-size: 2vw ;
    background-color: rgb(100, 149, 237,0.5);
}

.grid-container {
    display: grid;
}

.grid-item {
    border: 1px solid #ff4444; 
    padding: 10px; 
}

#itemLayout{
    text-align: center;
    display : grid ;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
